<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>
<p>
  <strong>
    <%= user_signed_in? && @event.attendees.include?(current_user) ?
    link_to('Cancel RSVP', cancel_rsvp_event_path(@event)) :
    link_to('RSVP', rsvp_event_path(@event)) %>
  </strong>
</p>
<p>
  <strong>Attendees:</strong>
  <ul>
    <% @event.attendees.each do |attendee| %>
      <li><%= link_to attendee.name, show_user_path(attendee.id) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
