<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <aside class="notice"><%= notice %></aside>
    <% end %>
    <% if alert %>
      <aside class="alert"><%= alert %></aside>
    <% end %>
    <nav>
    <ul>
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <%= link_to 'Events', events_path %>
      </li>

      <% if user_signed_in? %>
      <li>
        <%= link_to 'Users', show_user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to 'Logout', destroy_user_session_path,   method: :delete, data: { confirm: "Are you sure you want to log out?" } %>
      </li>

      <% else %>
      <li>
        <%= link_to 'Login', new_user_session_path %>
      </li>

      <% end %>
    </ul>
    </nav>
    <%= yield %>
  </body>
</html>
